Options -Indexes
RewriteEngine On

# Salli pääsy vain tiettyyn PDF-tiedostoon
RewriteRule ^Downloads/ICT_Resume_MA2024\.pdf$ - [L]

# Estä suora pääsy muihin PDF-tiedostoihin
RewriteRule ^Downloads/.*\.pdf$ - [F,L]

# Content Security Policy (pysy ennallaan)
Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://kit.fontawesome.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://ka-f.fontawesome.com; img-src 'self' data: https:; connect-src 'self' https://ka-f.fontawesome.com;"

# Varmista oikea MIME-tyyppi PDF-tiedostoille
AddType application/pdf .pdf
