Options -Indexes

# Aktivoi mod_rewrite

RewriteEngine On

# Estä pääsy suoraan PDF-tiedostoihin Downloads-kansiossa

RewriteRule ^Downloads/.\*\.pdf$ - [F,L]

# Salli pääsy resource_manager.php:hen

<Files "resource_manager.php">
Order Allow,Deny
Allow from all
</Files>

Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://kit.fontawesome.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://ka-f.fontawesome.com; img-src 'self' data: https:; connect-src 'self' https://ka-f.fontawesome.com;"
