@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Colors */
  --color-turquoise: #2f8599;
  --color-purple: #a555ac;
  --color-black-opacity-100: #000;
  --color-black-opacity-75: rgba(10, 10, 10, 0.75);
  --color-white-opacity-75: rgba(252, 252, 255, 0.75);
  --font-color-white: #fcfcff;
  --font-color-black: #0a0a0a;

  /* Images */
  --hero-background-image: url(/pics/miia-arkko-junior-software-developer-background-3.jpg);
  --background-abstract-image: url(/pics/abstract-background.jpg);
  --logo-image: url(/pics/miiaArkko-logo.png);

  /* Font sizes */
  --font-size-h1: min(2vw, 36px);
  --font-size-h2: min(1.67vw, 30px);
  --font-size-h3: min(1.33vw, 24px);
  --font-size-body: max(0.89vw, 16px);
  --font-size-small: max(0.78vw, 14px);

  /* Fonts */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", serif;

  /* Layout */
  --navbar-height: 60px;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-secondary);
  color: var(--font-color-white);
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--hero-background-image);
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: var(--spacing-medium);
}

.background-color-wrapper {
  background-color: var(--color-white-opacity-75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large) 4rem 5rem;
}

.navbar {
  width: 100%;
  height: var(--navbar-height);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  padding-top: 5px;
  height: 45px;
  width: auto;
}

.navbar .links {
  display: flex;
  gap: var(--spacing-large);
}

.navbar .toggle_btn {
  color: var(--font-color-white);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--font-color-white);
}

a:hover {
  color: var(--color-purple);
}

header {
  position: relative;
  padding: 0 var(--spacing-large);
  height: var(--navbar-height);
  z-index: 3;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: var(--spacing-large);
  top: var(--navbar-height);
  width: 300px;
  height: 0;
  background-color: var(--color-black-opacity-75);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 340px;
  z-index: 3;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-content {
  margin: 8rem 0;
}

#hero h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--font-color-white);
  margin-bottom: var(--spacing-large);
}

#hero h3 {
  font-size: var(--font-size-h3);
  font-family: var(--font-secondary);
  font-weight: 600;
  text-wrap: wrap;
  color: var(--font-color-white);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-h1);
  margin-bottom: var(--spacing-large);
  color: var(--font-color-black);
}

h2 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: var(--font-size-h3);
}

#about,
#education,
#skills,
#experience,
#contact {
  margin-top: var(--spacing-large);
  max-width: 1200px;
  padding-bottom: 2rem;
}

p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--font-size-body);
  text-align: left;
  padding: var(--spacing-medium) 0;
  color: var(--font-color-black);
}

.small-text {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: var(--font-size-small);
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 1500px) {
  #hero,
  #about,
  #education,
  #skills,
  #experience,
  #contact {
    max-width: 80%;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 1200px) {
  body {
    background-position: 80% center;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 992px) {
  body {
    background-position: 70% center;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #hero {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: left;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero h3 {
    font-size: 1.2rem;
  }

  .hero-content {
    padding: 0;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 799px) {
  * {
    color: var(--font-color-white);
  }

  header {
    /* background-image: var(--background-abstract-image); */ /* Poistettu */
    /* background-position: center center; */ /* Poistettu */
    /* background-repeat: no-repeat; */ /* Poistettu */
    /* background-size: cover; */ /* Poistettu */
    background: transparent; /* Lisätty */
  }

  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  .background-color-wrapper {
    background-color: var(--color-white-opacity-75);
    z-index: 2;
  }

  #hero {
    max-width: 100%;
    width: 100%;
    height: 340px; /* Muutettu auto -> 100vh */
    box-sizing: border-box;
    position: relative;
    z-index: 1; /* Lisätty */
  }

  .hero-mobile-image {
    position: fixed; /* Muutettu block -> fixed */
    top: 0; /* Lisätty */
    left: 0; /* Lisätty */
    width: 100%;
    height: 100vh; /* Muutettu */
    /* padding-bottom: 56.25%;  /* Poistettu */
    background-image: var(--hero-background-image);

    background-position: 80% top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Lisätty */
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
    max-width: 60%;
  }

  #hero h1,
  #hero h3 {
    color: var(--font-color-white);
    text-align: left;
  }

  .main-wrapper {
    width: 100%;
    position: relative; /* Lisätty */
    z-index: 1; /* Lisätty */
  }

  #about,
  #education,
  #skills,
  #experience,
  #contact {
    max-width: 100%;
    z-index: 3;
  }
}

/* Media with max 576px display */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 576px) {
  body {
    background-position: 80% center;
  }

  .dropdown_menu {
    left: var(--spacing-large);
    width: unset;
  }

  #about,
  #education,
  #skills,
  #experience,
  #contact {
    width: 100%;
    margin-top: var(--spacing-medium);
  }
}

/* ! NEED TO ADD ANOTHER SMALLER MEDIA QUERY, BC HERO SLOGAN GROWS TOO HIGH */
