@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-turquoise: #2f8599;
  --color-purple: #a555ac;
  --color-black-opacity-100: rgba(0, 0, 0, 1);
  --color-black-opacity-75: rgba(10, 10, 10, 0.75);
  --color-white-opacity-75: rgba(252, 252, 255, 0.75);
  --font-color-white: #fcfcff;
  --font-color-black: #0a0a0a;

  --hero-background-image: url(/pics/miia-arkko-junior-software-developer-background-3.jpg);
  --background-abstract-image: url(/pics/abstract-background.jpg);
  --logo-image: url(/pics/miiaArkko-logo.png);

  --font-size-h1: min(2vw, 36px);
  --font-size-h2: min(1.67vw, 30px);
  --font-size-h3: min(1.33vw, 24px);
  --font-size-body: max(0.89vw, 16px);
  --font-size-small: max(0.78vw, 14px);

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", serif;

  --navbar-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-secondary);
  color: var(--font-color-white);
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--hero-background-image);
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.background-color-wrapper {
  background-color: var(--color-white-opacity-75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem 5rem 4rem;
}

.navbar {
  width: 100%;
  height: var(--navbar-height);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  padding-top: 5px;
  height: 45px;
  width: auto;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: var(--font-color-white);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--font-color-white);
}

a:hover {
  color: var(--color-purple);
}

header {
  position: relative;
  padding: 0 2rem;
  height: var(--navbar-height);
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: var(--navbar-height);
  width: 300px;
  height: 0;
  background-color: var(--color-black-opacity-75);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 340px;
  z-index: 3;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-content {
  margin: 8rem 0;
}

#hero h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--font-color-white);
  margin-bottom: 2rem;
}

#hero h3 {
  font-size: 1.5rem;
  font-weight: normal;
  text-wrap: wrap;
  color: var(--font-color-white);
}

h1 {
  margin-bottom: 2rem;
  color: var(--font-color-black);
}

#about,
#education,
#skills,
#experience,
#contact {
  margin-top: 2rem;
  max-width: 1200px;
  padding-bottom: 2rem;
}

p {
  text-align: left;
  font-family: var(--font-secondary);

  padding: 1rem 0 1rem 0;
  color: var(--font-color-black);
}

/* UUUTTA    vanhasta koodista tästä alas        ----------------------------------------------*/

/* ! UUTTA tästä eteetnpäin ----------------- */
.collapsible {
  font-family: var(--font-secondary);
  font-size: large;
  background-color: var(--color-purple);
  color: var(--font-color-white);
  cursor: pointer;
  padding: 1em;
  margin-top: 2em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active,
.collapsible:hover {
  opacity: 80%;
}

.collapsible:after {
  content: "\25BC";
  color: var(--font-color-white);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2";
}

.content {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  font-family: var(--font-secondary);
  text-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--color-white-opacity-75);
}

.work-info {
  margin: 0;
  padding-top: 1rem;
  font-family: var(--font-secondary);
}

.work-text {
  padding-bottom: 1rem;
  padding-top: 0.7rem;
}

.work-list-container {
  height: 100%;
  color: var(--font-color-black);
}

.work-list {
  color: var(--font-color-black);
  font-family: var(--font-secondary);
  margin: 0;
  list-style: disc;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.work-list li {
  color: var(--font-color-black);
  font-family: var(--font-secondary);
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 1500px) {
  #hero {
    max-width: 80%;
  }
  #hero .hero-background-image {
    background-position: center top;
  }

  .hero-content {
    padding-left: 3rem;
  }

  #about,
  #education,
  #skills,
  #experience,
  #contact {
    max-width: 80%;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 1200px) {
  body {
    background-position: 80% center;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 992px) {
  body {
    background-position: 70% center;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #hero {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: left;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero h3 {
    text-wrap: wrap;
    font-size: 1.2rem;
  }

  .hero-content {
    padding: 0;
  }

  .hero-background-image {
    background-position: right 10% top;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 799px) {
  * {
    color: var(--font-color-white);
  }

  header {
    background-image: var(--background-abstract-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  #hero {
    max-width: 100%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }

  .hero-mobile-image {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 kuvasuhde */
    background-image: var(--hero-background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: 1rem;
    max-width: 60%;
  }

  #hero h1,
  #hero h3 {
    color: var(--font-color-white);
    text-align: left;
  }

  .main-wrapper {
    width: 100%;
  }

  #about,
  #education,
  #skills,
  #experience,
  #contact {
    max-width: 100%;
  }
}

/* Media with max 576px display */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 576px) {
  body {
    background-position: 80% center;
  }

  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  #about,
  #education,
  #skills,
  #experience,
  #contact {
    width: 100%;
    margin-top: 1rem;
  }
}

/* ! NEED TO ADD ANOTHER SMALLER MEDIA QUERY, BC HERO SLOGAN GROWS TOO HIGH */
